.container {
    border-radius: .5em;

    &.disabled {
        text-decoration: line-through;
    }

    &.single {
        display: flex;
        flex-flow: row nowrap;
    }

    .secondary {
        opacity: .8;
    }

    .text {
        color: #fff;
        display: inline-block;

        &.title {
            text-transform: uppercase;
            letter-spacing: .1em;
        }
    }

    .singleLessonInformation {
        display: flex;
        flex: 50% 0 1;
        margin-bottom: 0;
    }
}
