.container {
    height: 100%;

}

.container.disabled {
    text-decoration: line-through;
}

.container .secondary {
    opacity: .8;
}

.container .text {
    display: inline-block;
}

.container .text.title {
    margin: 0;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .container .text.title {
        letter-spacing: .1em
    }
}
