.container {
    border-radius: .5em;
    height: 100%;

    &.disabled {
        text-decoration: line-through;
    }

    .secondary {
        opacity: .8;
    }

    .text {
        display: inline-block;

        &.title {
            margin: 0;
            text-transform: uppercase;

            @media (min-width: 1200px) {
                letter-spacing: .1em;
            }
        }
    }

    .information {
        > *:not(:nth-child(1)) {
            margin-left: clamp(.1em, 1vw, .5em);
        }
    }
}
