.container {
    border-radius: 1em;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        margin: .5em;
    }
}
